<header class="navbar navbar-dark bg-dark">
  <div class="container">
    <nav>
      <ul class="nav d-flex flex-row">
        <li class="p-2"><%= link_to "Accueil",   '#' %></li>
        <li class="p-2"><%= link_to "Index des gossips",   '#' %></li>
        <li class="p-2"><%= link_to "Nouveau gossip", '#' %></li>
      </ul>
    </nav>
  </div>
</header>